@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p> Member Id :@Model.LdtMemberId</p>
	<p> Member UseerName : @Model.LdtUseerName</p>
    <p> Member PassWord : @Model.LdtPassWord</p>
    <p> Member FullName : @Model.LdtFullName</p>
    <p> Member Email : @Model.LdtEmail</p>
</div>

